# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Виртуальное окружение
venv/
.venv/
env/
ENV/

# База данных
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/__pycache__/